@import "../../../assets/scss/mixins.scss";
.ad-table {
  font-size: 0.85rem;
  width: 100%;
  position: relative;
  table-layout: fixed;
  margin-top: 15px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);

  &__row {
    background-color: var(--background-color-1);
    color: var(--text-color-1);
    transition: all 0.2s ease;
    animation: fade-in 0.3s ease;
    &-main {
      position: sticky;
      top: 0;
      &:hover {
        background-color: var(--background-color-6) !important;
        color: var(--text-color-1) !important;
      }
    }
    &:nth-child(odd) {
      background-color: var(--background-color-6);
    }
    &:hover {
      background-color: var(--background-color-2);
      color: var(--text-color-5);
    }
  }
  &__cell {
    padding: 5px;
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
    &_align {
      text-align: center;
      vertical-align: middle;
    }
    &-main {
      padding: 5px;
      text-align: center;
      cursor: pointer;
      &-email,
      &-remove {
        cursor: inherit;
      }
      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-groups {
      color: var(--text-color-3);
      text-align: left;
    }
  }
  &__icon {
    width: 0.85em !important;
    height: 0.85em !important;
    margin: 0 5px;
  }
  &__drop {
    cursor: pointer;
  }
  &__status {
    &-check {
      cursor: pointer;
      color: var(--text-color-6);
    }
    &-close {
      cursor: pointer;
      color: var(--text-color-4);
    }
  }
}
.ad-table__row:hover .ad-table__cell-groups {
  color: black;
}
.ad-table__row td:nth-child(6),
.ad-table__row td:nth-child(7) {
  width: 110px;
}

@media screen and(max-width:1368px) {
  .ad-table__row {
    .ad-table__cell-main:nth-child(2),
    .ad-table__cell:nth-child(2) {
      display: none;
    }
  }
  .ad-table__row {
    .ad-table__cell-main:nth-child(3),
    .ad-table__cell:nth-child(3) {
      display: none;
    }
  }
}

@media screen and(max-width:1024px) {
  .ad-table {
    width: auto;
    table-layout: auto;
  }
  .ad-table__row {
    .ad-table__cell-main:nth-child(4),
    .ad-table__cell:nth-child(4) {
      display: none;
    }
  }
}
@media screen and(max-width:768px) {
  .ad-table__cell {
    word-wrap: normal;
  }
  .ad-table__row td:nth-child(6),
  .ad-table__row td:nth-child(7) {
    width: auto;
  }
  .ad-table__row {
    .ad-table__cell-main:nth-child(5),
    .ad-table__cell:nth-child(5) {
      display: none;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
