@import "../../../assets/scss/mixins.scss";
.ad-table {
  font-size: 0.85rem;
  width: 100%;
  position: relative;
  table-layout: fixed;
  &__row {
    background-color: var(--background-color-5);
    color: var(--text-color-1);
    transition: all 0.2s ease;
    &-main {
      position: sticky;
      top: 0;
      &:hover {
        background-color: var(--background-color-6) !important;
        color: var(--text-color-1) !important;
      }
    }
    &:nth-child(odd) {
      background-color: var(--background-color-6);
    }
    &:hover {
      background-color: var(--background-color-2);
      color: var(--text-color-5);
    }
  }
  &__cell {
    padding: 5px;
    &_align {
      text-align: center;
      vertical-align: middle;
    }
    &-main {
      padding: 5px;
      text-align: center;
      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-groups {
      color: var(--text-color-3);
    }
  }
  &__icon {
    width: 0.85em !important;
    height: 0.85em !important;
    margin: 0 5px;
  }
  &__drop {
    cursor: pointer;
  }
}
.ad-table__row:hover .ad-table__cell-groups {
  color: black;
}
.ad-table__row td:nth-child(4),
.ad-table__row td:nth-child(5) {
  width: 110px;
}

@media screen and(max-width:1024px) {
  .ad-table {
    table-layout: auto;
  }
  .ad-table__row {
    .ad-table__cell-main:nth-child(2),
    .ad-table__cell:nth-child(2) {
      display: none;
    }
  }
  .ad-table__row {
    .ad-table__cell-main:nth-child(3),
    .ad-table__cell:nth-child(3) {
      display: none;
    }
  }
}
