@import "../../assets/scss/mixins.scss";
.navigation {
  background-color: var(--background-color-1);
  z-index: 1;
  @include no-select(none);
  &__link {
    color: var(--text-color-2);
    font-size: 1rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: all 0.3s ease;
    white-space: nowrap;
    justify-content: space-between;
    width: 300px;

    > * {
      margin: var(--safe-margin);
    }
    &:hover {
      color: var(--text-color-1);
      background-color: var(--background-color-3);
    }
    &_active {
      color: var(--text-color-1);
      background-color: var(--background-color-3);
    }
    &-icon {
      margin-top: 10px;
      font-size: 1rem !important;
      &-ad {
        margin-top: 4px;
      }
    }
  }
}

@media screen and(max-width:1368px) {
  .navigation {
    &__link {
      &-icon {
        margin-top: 7px;
        &-ad {
          margin-top: 4px;
        }
      }
    }
  }
}

@media screen and(max-width:768px) {
  .navigation {
    &__link {
      width: auto;
      &-icon {
        &-arrow {
          display: none !important;
        }
      }
      &-text {
        display: none;
      }
    }
  }
}
