@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  list-style: none;

  --background-color-1: #1a1f25;
  --background-color-2: #e6b333;
  --background-color-3: #323232;
  --background-color-4: rgba(55, 55, 55, 0.8);
  --background-color-5: #1a1f25;
  --background-color-6: #323232;
  --background-color-7: rgba(26, 31, 37, 0.9);

  --text-color-1: white;
  --text-color-2: #7f8084;
  --text-color-3: #e6b333;
  --text-color-4: red;

  --safe-margin: 0 15px;
  --undo-safe-margin: 0 -15px;
}

html {
  font-size: 16px;
}

@media screen and(max-width:1368px) {
  html {
    font-size: 14px;
  }
}

@media screen and(max-width:768px) {
  html {
    font-size: 12px;
  }
}
